body {margin: 0;}

/* MENU HORIZONTAL */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.spacing-top{margin-top: 20px;}

.img-email{width: 50%;}

.title-h1{font-weight: bold; color: #ddd;}

.registrado{font-weight: bold; text-decoration: underline;}

.btn-read{
    background-color: #fff;
    border: 0;
    width: 80%;
    margin-left: 5px;
    text-align: left;
    cursor: pointer;
    color: #2E2EFE;
    font-weight: bold;
}

.btn-read:hover{
    text-decoration: underline;
}